body{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background-color: #2e3440;
    color: #eceff4;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#frame{
    width: 70%;
    height: 70%;
    border-radius: 10px;
    background-color: #4c566a;
    display: flex;
    flex-direction: column;
}

#ribbon{
    background-color: #3b4252;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    border-radius: 10px 10px 0px 0px;
}

#file-upload{
    display: none;
}

#image-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: scroll;
}

#image-container>img{
    width: 30%;
    height: fit-content;
    border-radius: 5px;
}

.button{
    width: fit-content;
    color: #88c0d0;
    font-weight: bold;
    background-color: #2e3440;
    border-radius: 5px;
    padding: 10px;
}

.button:hover{
    background-color: #4c566a;
}